[Unit]
Description=Directory watcher that runs Tesseract to create searchable PDFs
Documentation=https://github.com/seanrees/auto-tesseract

[Service]
Restart=always
User=nobody
EnvironmentFile=/etc/default/auto-tesseract
ExecStart=python3 /opt/auto-tesseract/bin/main $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
